* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  /* margin-top: 100px; */
  margin-left: 10px;
}

.logo img {
  width: 200px;
  height: auto;
}

.progress-container {
  margin-top: 5%;
  margin-left: 5%;
  width: 70%;
}
.progress-frame {
  margin-top: 16px;
  width: 100%;
  height: 20px;
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.progress-progress {
  width: 3%;
  height: 16px;
  background-color: #b309c1;

  margin: 0px 2px;
  border-radius: 10px;
}

.form-section {
  min-width: 200px;
}
.form-title {
  color: #b309c1;
}

.form-subtitle {
  font-size: 13px;
  color: #b5b5b5;
}
.form-control {
  width: 350px;
  height: 50px;
}

.form-hello select {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(51, 51, 51, 0.05) 77%
  );
}

.button-next input {
  background-color: #b309c1;
  color: white;
}

.button-next input:hover {
  background-color: #b309c1;
  color: white;
}
.form-hello {
  position: relative;
}
.icon-hello {
  position: absolute;
  right: 40px;
  top: 46px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.mainbox {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}

.bike-position {
  position: absolute;
  top: 710px;
}

.bike-box {
  margin-bottom: 136px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bike-area {
  width: 1120px;
  position: relative;
  padding-top: 235px;
}

.bike-area img {
  position: absolute;
}
.bike-bg {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

.bike-bike {
  width: 19%;
  height: auto;
  bottom: 0%;
  left: 6%;
}

/* animation */
.display-none {
  display: none;
}

@-webkit-keyframes kf-progress-50-p {
  from {
    width: 3%;
  }
  to {
    width: 50%;
  }
}

@keyframes kf-progress-50-p {
  from {
    width: 3%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes kf-progress-100-p {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@keyframes kf-progress-100-p {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes kf-progress-50-p-back {
  from {
    width: 50%;
  }
  to {
    width: 3%;
  }
}

@keyframes kf-progress-50-p-back {
  from {
    width: 50%;
  }
  to {
    width: 3%;
  }
}

@-webkit-keyframes kf-progress-100-p-back {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes kf-progress-100-p-back {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

/* bike animation */
@-webkit-keyframes kf-bike-50-p {
  from {
    left: 6%;
  }
  to {
    left: 39%;
  }
}
@keyframes kf-bike-50-p {
  from {
    left: 6%;
  }
  to {
    left: 39%;
  }
}

@-webkit-keyframes kf-bike-100-p {
  from {
    left: 39%;
  }
  to {
    left: 71%;
  }
}

@keyframes kf-bike-100-p {
  from {
    left: 39%;
  }
  to {
    left: 71%;
  }
}

@-webkit-keyframes kf-bike-50-p-back {
  from {
    left: 39%;
  }
  to {
    left: 6%;
  }
}

@keyframes kf-bike-50-p-back {
  from {
    left: 39%;
  }
  to {
    left: 6%;
  }
}

@-webkit-keyframes kf-bike-100-p-back {
  from {
    left: 71%;
  }
  to {
    left: 39%;
  }
}

@keyframes kf-bike-100-p-back {
  from {
    left: 71%;
  }
  to {
    left: 39%;
  }
}

@media (max-width: 1050px) {
  .logo {
    margin: 25px 0;
  }
  .progress-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .form-control {
    width: 100%;
  }
  .mainbox {
    margin-top: 30%;
  }
}
